
@{
    ViewData["Title"] = "CadastroPessoa";
}

<h1>Cadastro Pessoa</h1>

<form>
    <div class="form-group">
        <label for="nomeProduto">Nome</label>
        <input type="text" class="form-control" id="nomePessoa" aria-describedby="valorhelp" name="NOME" placeholder="Nome">
    </div>
    <div class="form-group">
        <label for="valorProduto">Idade</label>
        <input type="text" class="form-control" id="idadePessoa" aria-describedby="valorhelp" name="IDADE" placeholder="Valor">
    </div>
    <button asp-controller="Home" asp-action="CadastrarProduto" type="submit" class="btn btn-primary">Enviar</button>
</form>


<script type="text/javascript">


</script>